@model List<FilmApp.Web.Models.Domain.Tag>
@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Etiketleri Göster - Admin Özelliği</h1>
    </div>
</div>


<form method="get"
    asp-controller="AdminTags",
    asp-action="List"
    >
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control" 
                name="searchQuery" value="@ViewBag.SearchQuery"/>
                <button type="submit" class="btn btn-warning ms-3">Ara</button>
            </div>
        </div>
    </div>
</form>



<div class="container mt-3">
    @if (Model != null && Model.Any())
    { //model null değil ve nesne barındırıyor
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Etiket adı</th>
                    <th>Uzun hali</th>
                    <th> </th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td>
                            <a asp-area="" asp-controller="AdminTags"
                            asp-action="Edit"
                            asp-route-id="@tag.Id">Düzenle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } 
    else
    {
        <p> Etiket bulunamadı! </p>
    }
</div>
