@model List<FilmApp.Web.Models.Domain.BlogPost>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Perde Arkası
            </h1>
            <p class="lead">
                "Perde Arkası"na! Hoş Geldiniz 🎬
                Sinema dünyasına yepyeni bir pencereden bakmaya hazır mısınız?

                Burada, en sevilen filmlerin:

                Özetlerini keşfedin,
                IMDb puanlarını inceleyin,
                Kullanıcı yorumlarını okuyun ve kendi yorumlarınızı paylaşın!
                Sinema perdesinin arkasındaki büyülü dünyayı birlikte keşfedelim. Hangi filmi izlesem diye düşünüyorsanız doğru yerdesiniz.
                📽️ Haydi, perdeyi aralayalım!
            </p>

        </div>

        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=600" 
            alt="Perde Arkası" 
            class="d-block mx-large-auto img-fluid" width="400"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Any()) 
            {
                foreach (var blogPost in Model)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading"
                        class="mb-2 d-block img-fluid"/>

                        <h2 class="mb-4">@blogPost.Heading</h2>
                        <p class="mb-4">
                            Yazar: @blogPost.Author
                            <br />
                            Paylaşım Tarihi:@blogPost.PublishedDate.ToShortDateString()
                        </p>
                        
                        <p class="mb-4">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@blogPost.ShortDescription</p>
                        
                        <a class="btn btn-dark" href="">Daha Fazla</a>
                    </div>
                }
            }
        </div>
    </div>

</div>

